body{
	background-color: #cccc99;
}

#Panel{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 20%;
	height: 100%;
}

#ContentPanel{
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 0px;
	margin: auto;
	width: 100%;
	height: 99%;
	background: #000;
}

#Rezults{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 40%;
	background-color: #fff;
}

#Main{
	position: absolute;
	left: 20%;
	top: 0px;
	width: 80%;
	height: 100%;
}

#Left{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 50%;
	height: 100%;
}

#Right{
	position: absolute;
	left: 50%;
	top: 0px;
	width: 50%;
	height: 100%;
}

#Code1, #Code2{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 70%;
}

#Input1, #Input2{
	position: absolute;
	top: 70%;
	left: 0px;
	width: 100%;
	height: 30%;
}

#S1, #S2{
	position: absolute;
	width: 98%;
	height: 98%;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
	resize: none;
	border: none;
}

#CodeWrap, #TableWrap{
	position: absolute;
	width: 98%;
	height: 98%;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
	background-color: #fff;
	overflow-y: auto;
}

ol {
	background:#036;
	overflow:auto;
	font-family: 'Inconsolata', serif;
	margin:0;
	color:#fff;
	width:91.5%;
	border-right: 1px solid;
	border-left: 1px solid;
	border-top: 1px solid;
	border-color: #000;
}
ol li:nth-child(even){
	background:#eee;
}
ol li:nth-child(odd){
	background:#ddd;
}
#CodeWrap ol code {
	color:#036;
	word-wrap: break-word;
}